#contact-form input, #contact-form textarea {
    color: rgb(49, 49, 67);
    transition: border 1s;
}
#contact-form input[type="text"].has-error, #contact-form textarea.has-error {
    border: 1px solid #F00;
}
#contact-form .invalid-feedback {
    display: none;
    color: #F00;
}